<audio ng-src="{{ 'jugar.ogg'  | translateAudio }}" autoplay="autoplay"></audio>
<!-- Overlay de rana -->
<div ng-if="mostrarRana" class="overlay-rana" ng-click="mostrarRana = false">
    <img src="assets/img/rana-felicitaciones.png" alt="Rana" class="imagen-rana">
</div>

<!-- Overlay de ranita -->
<div ng-if="mostrarRanita" class="overlay-rana" ng-click="mostrarRanita = false">
    <img src="assets/img/raninta-felicitaciones.png" alt="Ranita" class="imagen-rana">
</div>
<!-- Overlay de cambio de jugador -->
<div ng-if="mostrarCambioJugador" class="overlay-modal">
    <div class="texto-cambio">CHANGE PLAYER</div>
</div>
<ui-view>
    <!-- ←--  le añadí layout-tablero -->
    <div class="view fondo-laguna font-cs layout-tablero">

        <div class="columna jugadores">
            <jugador ng-repeat="jugador in jugadores"
                     jugador="jugador"
                     maximo="config.puntos"
                     ng-click="cambiarTurno(jugador.numero)">
            </jugador>
        </div>

        <div class="columna monedas">
            <div class="datos">
                <div class="turno">
                    <div class="titulo">{{"TURNO" | translate}}</div>
                    <div class="numero">{{chico.jugadorActual.turno}}</div>
                </div>
                <div class="puntos">
                    <div class="titulo">{{"PUNTOS" | translate}}</div>
                    <div class="numero">{{chico.jugadorActual.puntosTurno()}}</div>
                </div>
            </div>

            <div class="centrar argollas">
                <div class="argolla"
                    ng-repeat="argolla in chico.jugadorActual.ultimasArgollas track by $index"
                    ng-class="{inactiva: argolla == null}">
                    {{ argolla !== null && argolla !== undefined ? argolla : '&nbsp' }}
                </div>
            </div>

            <div class="tiros">
                <div class="tiro" ng-repeat="puntaje in chico.jugadorActual.tiros track by $index">
                    <div class="datos">
                        <div class="turno">
                            <div class="titulo">{{"TURNO" | translate}}</div>
                            <div class="numero">{{$index+1}}</div>
                        </div>
                        <div class="puntos">
                            <div class="titulo">{{"PUNTOS" | translate}}</div>
                            <div class="numero">{{puntaje}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columna orificios">
            <div class="centrar meta">
                <span>{{"META" | translate}}</span>
                <div class="pequeno">{{config.puntos}} {{"PUNTOS" | translate}}</div>
            </div>
            <div class="centrar argollas">
                <div class="argolla"
                    ng-repeat="orificio in config.configuracion.orificios track by $index"
                    ng-class="{
                    rana:   $index+1==config.configuracion.orificioRana,
                    ranita: $index+1==config.configuracion.orificioRanita,
                    invisible: $index+1 === 12
                    }">
                {{orificio}}
                </div>
            </div>
        </div>

    </div>
</ui-view>

<!-- MODAL DE CONFIRMACIÓN -->
<div class="modal-confirmacion" ng-show="mostrarModal">
    <div class="contenido">
        <h2>Do you want to return to the main menu?</h2>
        <div class="opciones">
            <div 
                class="opcion" 
                ng-class="{ seleccionada: opcionSeleccionada === 'si' }">
                Yes
            </div>
            <div 
                class="opcion" 
                ng-class="{ seleccionada: opcionSeleccionada === 'no' }">
                Not
            </div>
        </div>
    </div>
</div>
